	<div class="blog-post-cover vanilla-bean" style="margin-top: 4em; padding-top: 3.5em;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-8">
					<div class="box-shadow-quad bubble-gum comfortable draggable glitch">
						<h2 class="courier-new-text fittext-h3 heavy brutal-text-neon">Foire Aux Questions</h2>
						<h3 class="deep-orange-text comic-sans-text flow-text">Vous avez des questions ? En voici les réponses. (si votre question ne figure pas ici n'hésitez pas à m'écrire)</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="display: block; clear: both;"></div>

	<div class="vanilla-bean">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9 col-lg-9">
					<div class="double-col pad50">
                        <blockquote class="flow-text comic-sans-text blue-text">Ça pique les tatouages ? J'ai peur des aiguilles.</blockquote> 
                        <p class="comic-sans-text smaller oblique"> Jean-Charles, 12 ans et demi </p><br/>
						<p class="tahoma-text charcoal-text">
                        Oui ça pique gros blaireau, mais personne en est mort tkt.
						</p><br/>
						<hr class="jagged-rule-dark" />
                        <blockquote class="flow-text comic-sans-text blue-text">Sa coutte cher de ce faire tatooez ?</blockquote> 
                        <p class="comic-sans-text smaller oblique"> Cindy, 18 ans </p><br/><br/>
						<p class="tahoma-text charcoal-text">
                        Tout dépend de ton projet. Check mes stories sur insta, je met souvent les prix directement dessus. Ils ne sont pas négociables, même si ton cousin Kévin les fait pour moins cher.
						</p><br/>
						<hr class="jagged-rule-dark" />
                        <blockquote class="flow-text comic-sans-text blue-text">Faites vous les projets personnels ? Je trouve vos flashs vulgaires.</blockquote> 
                        <p class="comic-sans-text smaller oblique"> Edouardine, 33 ans 1/3 </p><br/>
						<p class="tahoma-text charcoal-text">
                        Je n'accepte les projets persos que très rarement, envoie moi un email et on pourra en discuter !
						</p><br/>
						<hr class="jagged-rule-dark" />
                        <blockquote class="flow-text comic-sans-text blue-text">J'ai rdv à la piscine mais tu viens de me tatouer, ça craint ?</blockquote> 
                        <p class="comic-sans-text smaller oblique"> Tonino, région PACA </p><br/>
						<p class="tahoma-text charcoal-text">
                        Yes ça craint un max même, pour plus d'info, je t'invite à consulter ma fiche de soin.
						</p><br/>
						<hr class="jagged-rule-dark" />
                        <blockquote class="flow-text comic-sans-text blue-text">On aimerait trop se faire un matching tattoo d'une plume avec un symbole infi...</blockquote> 
                        <p class="comic-sans-text smaller oblique"> Cynthia et Anthony, en couple depuis 3 semaines </p><br/>
						<p class="tahoma-text charcoal-text">
                        Non.
						</p><br/>
						<hr class="jagged-rule-dark" />
					</div>
				</div>
			</div>
		</div>
	</div>