	<div class="blog-post-cover" style="margin-top: 4em; padding-top: 3.5em;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-8">
					<div class="box-shadow-triple water-blueberry-gradient comfortable draggable">
						<h2 class="courier-new-text fittext-h3 heavy white-text bubble-gum-text-shadow">Entretien de mon tatouage</h2>
						<h3 class="red-text arial-text flow-text yellow-text-shadow">Retrouvez ici toutes les astuces du Cowboi pour assurer à votre tatouage une cicatrisation pérenne.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="display: block; clear: both;"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9 col-lg-9">
					<div class="double-col pad50">
						<p class="tahoma-text charcoal-text">
							Lorem ipsum no facer prompta vim, movet ubique qui ei. Per no regione aliquid, ea mei nulla scribentur liberavisse. Qui feugait apeirian ut, ne virtute numquam mandamus mea. Eos et enim dicant deterruisset. At nec ceteros mentitum, ex solum putent offendit per.
						</p>
						<hr class="jagged-rule-dark" />
						<p class="tahoma-text charcoal-text">
							Lorem ipsum no facer prompta vim, movet ubique qui ei. Per no regione aliquid, ea mei nulla scribentur liberavisse. No verterem reprimique vix, phaedrum hendrerit an quo. Qui feugait apeirian ut, ne virtute numquam mandamus mea. Eos et enim dicant deterruisset. At nec ceteros mentitum, ex solum putent offendit per.
						</p>
						<hr class="jagged-rule-dark" />
						<p class="tahoma-text charcoal-text">
							Per no regione aliquid, ea mei nulla scribentur liberavisse. No verterem reprimique vix, phaedrum hendrerit an quo. Qui feugait apeirian ut, ne virtute numquam mandamus mea. Eos et enim dicant deterruisset. At nec ceteros mentitum, ex solum putent offendit per.
						</p>
						<hr class="jagged-rule-dark" />
						<blockquote class="flow-text tahoma-text blue-text">What's nice about concrete is that it looks unfinished</blockquote>
						<hr class="jagged-rule-dark" />
						<p class="tahoma-text charcoal-text">
							Lorem ipsum no facer prompta vim, movet ubique qui ei. Per no regione aliquid, ea mei nulla scribentur liberavisse. Vim cu tale ludus possit, discere suavitate nam ad. Qui feugait apeirian ut, ne virtute numquam mandamus mea. Eos et enim dicant deterruisset. At nec ceteros mentitum, ex solum putent offendit per.
						</p>
						<hr class="jagged-rule-dark" />
						<p class="tahoma-text charcoal-text">
							Lorem ipsum no facer prompta vim, movet ubique qui ei. Per no regione aliquid, ea mei nulla scribentur liberavisse. Vim cu tale ludus possit, discere suavitate nam ad. No verterem reprimique vix, phaedrum hendrerit an quo. Qui feugait apeirian ut, ne virtute numquam mandamus mea. Eos et enim dicant deterruisset. At nec ceteros mentitum, ex solum putent offendit per.
						</p>
					</div>
				</div>
		</div>
	</div>
	<div class="row feature-cover">
		<div class="col-sm-12">
			<div class="container">
				<div class="row"><div class="col-sm-12">
					<p class="flow-text times-text cheddar-text wave-text">Venez pas pleurer si vous suivez pas ces consignes</p>
				</div></div>
			</div>
		</div>
	</div>
