<div class="anim-bg-shine draggable">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="fittext-h1 lucida-text yellow-text throb">Cowboi.jpeg</h1>
				<p class="arial-text flow-text vanilla-bean-text">Retrouvez ici tous mes plus grands succès en cassette audio et VHS !</p>
			</div>
		</div>
	</div>
</div>
	<div class="blue-candy">
		<div class="container">
			<div class="row"><h4 class="arial-text white-text"><strong>Mes dernières planches de flashs</strong></h4>
						<div class="scroller-wrap" style="height: 400px;" >
						<div class="scroll-right">
									<div class="scroll-item">
										<img src="../assets/images/brutal-building.jpg" class="xlarge-thumb">
									</div>
									<div class="scroll-item">
										<img src="../assets/images/capsule-tower.jpg" class="xlarge-thumb">
									</div>
									<div class="scroll-item">
										<img src="../assets/images/spomenik.jpg" class="xlarge-thumb">
									</div>
									<div class="scroll-item">
										<img src="../assets/images/rupp-drive-brutalist.jpg" class="xlarge-thumb">
									</div>
									<div class="scroll-item">
										<img src="../assets/images/county-bldg-brutalist.jpg" class="xlarge-thumb">
									</div>
								</div></div>
				</div>
		</div>
	</div>

	