<div class="anim-bg-shine draggable">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="fittext-h1 lucida-text yellow-text">Cowboi.jpeg</h2>
				<p class="arial-text flow-text vanilla-bean-text">Retrouvez ici tous mes plus grands succès en cassette audio et VHS !</p>
			</div>
		</div>
	</div>
</div>
	<div class="blue-candy">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9 col-lg-9">

						<h4 class="arial-text white-text"><strong>Mes dernières planches de flashs</strong></h4>
						<ul class="thumbs-xlarge">
							<li><img src="../assets/images/brutal-building.jpg"></li>
							<li><img src="../assets/images/spomenik.jpg"></li>
							<li><img src="../assets/images/rupp-drive-brutalism.jpg"></li>
							<li><img src="../assets/images/bldg-drab.jpg"></li>
							<li><img src="../assets/images/capsule-tower.jpg"></li>
							<li><img src="../assets/images/brutalist001.jpg"></li>
						</ul>
					
					<div style="display: block; padding: 2em;"></div>

				</div>
			</div>
		</div>
	</div>

	