<div class="bricks bh100 b100 center">
<div class="reveal hover">
<a href="#" class="throb small-btn"><strong class="comic-sans-text">Cowboi</strong></a>
<img src="https://www.schleich-s.com/media/catalog/product/cache/4/small_image/600x/41ff4e9c985d00a9b9c6d7454ded3dd0/4/1/41418_02_v16_tp.jpg" class="secret">
</div>
</div>