<div class="bricks bh100 b100 center">
<div class="reveal hover">
<a href="#" class="throb small-btn spin"><strong class="comic-sans-text bubble-gum-text-shadow">Cowboi</strong></a>
<%= image_tag "cowboi_landing.png", :class => "secret spin-reverse-fast" %>
</div>
</div>