<div class="bricks bh100 b100 center">
<div class="reveal hover">
<a class="throb small-btn spin"><strong class="comic-sans-text bubble-gum-text-shadow">Cowboi</strong></a>
<%= link_to image_tag("cowboi_landing.png", class:"secret spin-reverse-fast"), static_pages_home_path %>
</div>
</div>