<footer class="grey vanilla-bean-text tahoma-text">
		<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3 no-padding">
				<div class="padding">
					<h5 class="lucida-text">A propos</h5>
					<p>Cowboi.jpeg est tatoueur depuis 2015. Avec plus de 8500 tatouages à son actif, vous pouvez y aller les yeux fermés.</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-3 no-padding">
				<div class="padding">
					<h5 class="lucida-text">Liens</h5>
					<ul class="comic-sans-text">
						<li><a href="https://www.instagram.com/cowboi.jpeg/">Instagram</a></li>
						<li><a href="#">top_secret_1997.dvix.rip</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</footer>